body{
    background: linear-gradient(90deg,#0F2027,#2C5364);
    color:white;
    font-family: Inter;
}

.responsive-iframe {
    width: 100%;
    height: 500px;
    padding-bottom: 25px;
    border:none
}

@media (min-width: 768px) {
    .responsive-iframe {
        width: 50%;
        margin: 0 auto;
    }
}
/* In your CSS file */
.clicked {
    color: black;
    background-color: transparent;
    transition: all 0.3s ease;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.clicked::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}